* {
    box-sizing: border-box;
    background: #fcfeff;
    font-family: 'Montserrat', sans-serif;
}


.main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    width: 100%;
}


h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    width: 100%;
    color: white;
    background: #3E474F;
    padding: 10px;
    margin: 0 auto;
}

h2{
    font-size: 1.3em;
}

p {
    margin: 0;
    padding-top: 5px;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr_1 {
    height: 3px;
    margin-bottom: 0;
    margin-top: 1em;
}

.hr_2 {
    height: 2px;
    margin-top: 2px;
}

.hr_3 {
    height: 2px;
}


.contact fieldset,
.newsletter fieldset {
    padding: 0;
    margin: auto;
    border: none;
    width: 95%;
}

input,
select {
    background: rgb(244,244,244);
    border-style: none;
    padding: 10px 5px 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=textarea],
#user_State,
#user_Zip {
    width: 100%;
    transition-property: background, padding, border;
    transition-duration: 1s, .5s;
    
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=textarea]:focus,
#user_State:focus {
  background-color: rgba(231,236,255,.7);
  color: #222222;
  border: 2px solid #447a99;
  padding: +1.5%;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=textarea]:hover,
#user_State:hover {
  background-color: rgba(231,236,255,.7);;

}



input::placeholder {
    text-align:right;
    font-size:.8em;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.news_label {
    display: block;
    margin-bottom: 1em;
}

input[type=radio],
input[type=checkbox] {
    margin-bottom: 1em;
}

#js {
    margin-bottom: 2.5em;
}

.news_format {
    margin-bottom: 1em;
}

.topics {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

input[type=textarea] {
    height: 100px;
}

button {
    padding: 15px;
    width: 100%;
    margin-bottom: 1.5em;
    background: rgba(116, 134, 150, .9);
    color: white;
    border-style: none;
    border-radius: 5px;
}

.footer {
    text-align:center;
    font-style:italic;
    margin-bottom: 1em;
}

/* Media Query */

@media(min-width: 768px) {
    .contact div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    #user_State {
        width: 90%;
        margin-left: 1.5em;
    }

    label {
        width: 40%;
        padding-top: 10px;
    }

    .news_label {
        width: 100%;
    }

    .header_intro,
    .contact,
    .newsletter,
    .footer,
    hr {
        max-width: 550px;
        margin: auto;
    }

    h1{
        display: block;
    }

    .contact {
        max-width: 50%;
    }

    #user_Zip {
        width: 90%;
    }
    
    h1 {
        max-width: 100%;
    }
}